<div class="container">
  <div class="nav nav-tabs">
      <%= link_to admin_root_path do %>
        <p class="nav-link">Product</p>
      <% end %>
    <li class="nav-item">
      <%= link_to admin_orders_path do %>
        <p class="nav-link active">Orders</p>
      <% end %>
    </li>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Order Number</th>
      <th>Price</th>
      <th>Payment Status</th>
      <th>Shipping Status</th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.sn %></td>
        <td><%= order.total_amount %></td>
        <td>
          <%= form_for [:admin, order] do |f| %>
            <%= f.select :payment_status, options_for_payment_status %>
            <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
          <% end %> 
        </td>
        <td>
          <%= form_for [:admin, order] do |f| %>
            <%= f.select :shipping_status, options_for_shipping_status %>
            <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
          <% end %> 
        </td>
        <td>
          <%= link_to admin_order_path(order), method: :delete, data: {confirm: "Are you sure to delete order ##{order.sn} ?"} do %>
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>