<div class="container">
  <div class="products-panel">
    <% @products.each do |product| %>
      <div class="product-item">
        <div class="product-image">
          <% if product.image_remote_url? %>
            <%= image_tag(product.image_remote_url) %>
          <% elsif product.image? %>
            <%= image_tag(product.image) %>
          <% end %>
        </div>
        <div class="product-info">
          <h6>
            <%= product.name %>
          </h6>
          <h6>
            $<%= product.price.round %>
          </h6>
        </div>
        <div>
          <%= link_to add_to_cart_product_path(product), method: :post, remote: true do %>
            <button class="btn btn-primary">Add to cart</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>  
</div>
