<!DOCTYPE html>
<html>
  <head>
    <title>CartMoney</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="logo"><%= link_to 'West World Shop', root_path %></div>
          <div class="menu">
            <% if current_user %>
              <% if current_user.role == 'admin' %>
                <div><%= link_to 'Admin panel', admin_root_path %></div>
              <% end %>
            <% end %>
            <div class="cart-btn">Cart <%= "( #{calculate_cart_total_quantity(current_cart.cart_items)} )" if current_cart.cart_items.length != 0 %></div>
            <div><%= link_to 'Order', orders_path %></div>
            <% if current_user %>
              <div><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
            <% else %>
              <div><%= link_to('Sign up', new_user_registration_path ) %></div>
              <div><%= link_to('Sign in', new_user_session_path ) %></div>
            <% end %>
          </div>      
        </div>
      </nav>  
    </header>
    <div class="alert-row">
      <% if flash[:notice] %>
        <div class="notice alert alert-success" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% elsif flash[:alert]%> 
        <div class="alert alert-danger" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:alert] %>
            </div>
          </div>
        </div>               
      <% end %>
    </div>
    <div class="cart-panel shadow-box">
      <%= render partial: "shared/cart" %>
    </div>
    <%= yield %>
  </body>
</html>
